.reviews{
  padding: 81px 0 144px;
  &__wrap{
    margin: 62px 0 0;
  }
  &__item{
    margin: 18px;
    //box-shadow: 0 0 20px 4px rgba(1, 2, 2, 0.07);
    //border-radius: 7px;
    //padding: 8px;
    img{
      margin: 0 auto;
      border-radius: 7px;
    }
  }
}




.slick-arrow{
  background: #80bc34;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: .3s;
}
.slick-arrow:hover,
.slick-arrow:focus{
  background: #e2523f;
}
.slick-next:before,
.slick-prev:before{
  content: '';
  background: url(../img/slider_arrow.svg) no-repeat;
  height: 18px;
  width: 20px;
  z-index: 12;
  display: block;
  margin: 0 auto;
}

.slick-prev:before{
  transform: rotate(180deg);
}

.slick-next {
  right: -14px;
}
.slick-prev {
  left: -18px;
  z-index: 2;
}
.slick-dots {
  bottom: -49px;
}
.slick-dots li button{
  border-radius: 50%;
  background: #f7cfc2;
  width: 14px;
  height: 14px;
}

.slick-dots li.slick-active button{
  border: 6px solid #e2523f;
  background: #fff;
}

@include r(1219){
  .reviews__item{
    //padding: 10px;
  }
  .reviews__wrap {
    margin: 26px 0 0;
  }
  .slick-prev {
    left: -6px;
  }
  .slick-next {
    right: -6px;
  }
}


@include r(1189){
  .reviews {
    padding: 81px 0 81px;
  }
}
@include r(1023){
  .slick-dots{
    display: none!important;
  }
  .reviews__item {
    margin: 10px;
    //box-shadow: 0 0 5px 4px rgba(1,2,2,.07);
  }

}
@include r(767){

  .reviews-slider{
    padding: 0 30px 0;
  }
  .slick-prev {
    left: 4px;
  }
  .slick-next {
    right: 4px;
  }
}
@include r(639){
  .slick-initialized .slick-slide {
    height: auto;
  }
}
@include r(479){
  .reviews__wrap {
    margin: 15px auto 0;
    width: 300px;
  }
  .reviews-slider {
    padding: 0 20px;
  }
  .slick-prev {
    left: -4px;
  }
  .slick-next {
    right: -4px;
  }
  .slick-arrow {
    height: 40px;
    width: 40px;
  }
  .reviews__item{

  }

}