<div class="reviews block">
    <div class="container">
        <h2 class="title">
            Эти девушки уже убедились
            <span class="text-nowrap">в эффективности</span> <span class="red">DUO C&F</span>
        </h2>
        <div class="reviews__wrap">
            <div class="reviews-slider">
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            lissa_sergeevaaa
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Добрый день! Хочу сказать вам спасибо за ваше средство — оно действительно работает!
                                Пропила
                                его месяц и сама себя не узнаю в зеркале. Мне кажется я стала даже худее, чем до родов.
                                Все
                                вокруг комплименты говорят. <img src="img/smile1.png" alt=""> <img src="img/smile2.png"
                                                                                                   alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Спасибо за теплые слова!
                                    <span class="text-nowrap">Вы прекрасно</span> выглядите. С вашего разрешения мы
                                    разместим ваш результат на нашем сайте.
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Размещайте, я не против. <img src="img/finger-up.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item ">
                    <div class="scale-block bgn2">
                        <div class="reviews__item-header">
                            maria_haritonova
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Никак не могу
                                нарадоваться, что заказала ваше средство. Наконец-то
                                я вижу, что не зря хожу в спортзал и не пью сладкую газировку. За 2 недели — минус 2 кг,
                                а
                                талия стала
                                уже на 10 см! <img src="img/smile2.png" alt=""> <img src="img/finger-up.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide2.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Благодарим за ваш фидбек! Нам очень приятно. Можно разместить ваши фото в отзывах?
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Конечно! Буду рада, если они кого-то
                                вдохновят заняться собой. <img src="img/ogon.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item ">
                    <div class="scale-block bgn3">
                        <div class="reviews__item-header">
                            Elvira_Larionova
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Средство работает! До этого перепробовала много чего, но вес держался на одном уровне.
                                Правда в этот раз
                                я еще стала больше гулять
                                по выходным и после работы. Результат — вместо <span
                                    class="text-nowrap">L размер S!</span>
                                <img src="img/ok.png" alt="">
                                <img src="img/heart.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide3.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Спасибо, что поделились! Отличный результат.
                                    Можно мы разместим ваш отзыв
                                    у себя на сайте?
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Надеюсь муж из дома
                                <span class="text-nowrap">не выгонит, аахах.</span> <img src="img/finger-up.png" alt="">
                            </div>
                        </div>
                    </div>

                </div>
                <div class="reviews__item ">
                    <div class="scale-block bgn4">
                        <div class="reviews__item-header">
                            Viki_queeny
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Тысячу лайков за капсулы! Похудела за месяц на 6 кг
                                и вешу всего 54 кг! Такой худой я еще не была! А еще круто, что мой организм начал
                                работать
                                как часы))
                                <img src="img/smile1.png" alt=""> <img src="img/smile2.png" alt=""> <img
                                    src="img/finger-up.png" alt=""> <img src="img/finger-up.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide4.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Супер результат! Приятно, что DUO C&F сделал вклад в ваш неотразимый внешний вид.
                                    Разрешите разместить ваш отзыв!
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                можно.)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            Elena__sokolova
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                ЕЕЕЕ!!!! Много прогулок
                                с собакой + 2 л воды в день + DUO C&F — творят чудеса.
                                За 1 месяц из меня вышел весь жир. Я собой полностью довольна! Спасибо за сервис,
                                посылку доставили быстро. Фото после — слева.
                                <img src="img/finger-up.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide5.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Елена, мы стараемся. Спасибо, за ваш отзыв! Мы бы хотели разместить ваш отзыв на
                                    нашем сайте, если вы разрешите.
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Даю добро, размещайте
                                <img src="img/finger-up.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            KrasotaMary
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Добрый день! Спасибо вам за супер товар. Вредное есть перестала, пробовала даже пилатес,
                                а живот никуда не уходил. Все пошло на ура только тогда, как начала пить ваши капсулы.
                                Подругам посоветовала
                                и теперь вместе радуемся второй молодости)))
                                <img src="img/smile2.png"
                                     alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide6.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Да вам на обложку журнала!
                                    Нам было очень приятно получить ваш отзыв. Можно мы разместим его на сайте?

                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Ок, размещайте!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            Kristina.Sysoeva
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Решила похвастаться — забыла о боках и дряблом животе с Дуо Эс энд Эф и 2 л воды каждый
                                день. Даже родные удивлялись, что я вместо любимого кофе села на воду и пару капсул
                                средства на месяц. Итого: минус 11 кг, талия — минус 30 см, бедра — минус 35 см.

                            </div>
                            <div class="client-img">
                                <img src="img/imgslide7.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Кристина, вы героиня! Хотим разместить ваш отзыв у нас на сайте, можно? <img src="img/smile2.png"
                                                                                                                 alt="">
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Спасибо, приятно! Размещайте. <img src="img/finger-up.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            d_solnechnaya
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Здравствуйте, ваш
                                препарат творит чудеса! Помог похудеть мне к морю, теперь не стыдно будет раздеваться на пляже.
                                На фото мой результат
                                за неделю :) <img src="img/finger-up.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide8.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Дарья, вы идеальны! Будем благодарны, если разрешите разместить ваш отзыв.
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                До идеала мне далеко еще,
                                но я не против, размещайте.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews__item">
                    <div class="scale-block">
                        <div class="reviews__item-header">
                            Maria_Nevzorova_
                        </div>
                        <div class="reviews__item-body">
                            <div class="client-text">
                                Спасибо за ваш товар!
                                Редко пишу, но тут надо.
                                На фото разница в 14 кг. Это результат 2 месяцев ПП
                                и приема дуо си энд эф! До сих пор не могу поверить — всего 2 месяцаи фигура мечта!)))
                                <img src="img/smile2.png" alt="">
                            </div>
                            <div class="client-img">
                                <img src="img/imgslide9.png" alt="">
                            </div>
                            <div class="answer">
                                <img src="" alt="">
                                <p class="answer-text">
                                    Поздравляем! Вы большая умничка и заслуженно выглядите прекрасно. Хотим разместить ваш отзыв на сайте, можно?
                                </p>
                            </div>
                            <div class="client-text client-answer">
                                Размещайте, мне будет приятно)))) <img src="img/finger-up.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>