<div class="reviews block">
    <div class="container">
        <h2 class="title">
            Эти девушки уже убедились
            <span class="text-nowrap">в эффективности</span> <span class="red">DUO C&F</span>
        </h2>
        <div class="reviews__wrap">
            <div class="reviews-slider">
                <div class="reviews__item">
                    <div class="reviews__item-header">
                        lissa_sergeevaaa
                    </div>
                    <div class="reviews__item-body">
                        <div class="client-text">
                            Добрый день! Хочу сказать вам спасибо за ваше средство — оно действительно работает! Пропила
                            его месяц и сама себя не узнаю в зеркале. Мне кажется я стала даже худее, чем до родов. Все
                            вокруг комплименты говорят. <img src="img/smile1.png" alt=""> <img src="img/smile2.png"
                                                                                               alt="">
                        </div>
                        <div class="client-img">
                            <img src="img/imgslide.png" alt="">
                        </div>
                        <div class="answer">
                            <img src="" alt="">
                            <p class="answer-text">
                                Спасибо за теплые слова!
                                <span class="text-nowrap">Вы прекрасно</span> выглядите. С вашего разрешения мы
                                разместим ваш результат на нашем сайте.
                            </p>
                        </div>
                        <div class="client-text client-answer">
                            Размещайте, я не против. <img src="img/finger-up.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="reviews__item bgn2">
                    <div class="reviews__item-header">
                        maria_haritonova
                    </div>
                    <div class="reviews__item-body">
                        <div class="client-text">
                            Никак не могу
                            нарадоваться, что заказала ваше средство. Наконец-то
                            я вижу, что не зря хожу в спортзал и не пью сладкую газировку. За 2 недели — минус 2 кг, а
                            талия стала
                            уже на 10 см! <img src="img/smile2.png" alt=""> <img src="img/finger-up.png" alt="">
                        </div>
                        <div class="client-img">
                            <img src="img/imgslide2.png" alt="">
                        </div>
                        <div class="answer">
                            <img src="" alt="">
                            <p class="answer-text">
                                Благодарим за ваш фидбек! Нам очень приятно. Можно разместить ваши фото в отзывах?
                            </p>
                        </div>
                        <div class="client-text client-answer">
                            Конечно! Буду рада, если они кого-то
                            вдохновят заняться собой. <img src="img/ogon.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="reviews__item bgn3">
                    <div class="reviews__item-header">
                        Elvira_Larionova
                    </div>
                    <div class="reviews__item-body">
                        <div class="client-text">
                            Средство работает! До этого перепробовала много чего, но вес держался на одном уровне.
                            Правда в этот раз
                            я еще стала больше гулять
                            по выходным и после работы. Результат — вместо <span class="text-nowrap">L размер S!</span> <img src="img/ok.png" alt="">
                            <img src="img/heart.png" alt="">
                        </div>
                        <div class="client-img">
                            <img src="img/imgslide3.png" alt="">
                        </div>
                        <div class="answer">
                            <img src="" alt="">
                            <p class="answer-text">
                                Спасибо, что поделились! Отличный результат.
                                Можно мы разместим ваш отзыв
                                у себя на сайте?
                            </p>
                        </div>
                        <div class="client-text client-answer">
                            Надеюсь муж из дома
                            <span class="text-nowrap">не выгонит, аахах.</span> <img src="img/finger-up.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="reviews__item bgn4">
                    <div class="reviews__item-header">
                        Elvira_Larionova
                    </div>
                    <div class="reviews__item-body">
                        <div class="client-text">
                            Средство работает! До этого перепробовала много чего, но вес держался на одном уровне.
                            Правда в этот раз
                            я еще стала больше гулять
                            по выходным и после работы. Результат — вместо <span class="text-nowrap">L размер S!</span> <img src="img/ok.png" alt="">
                            <img src="img/heart.png" alt="">
                        </div>
                        <div class="client-img">
                            <img src="img/imgslide3.png" alt="">
                        </div>
                        <div class="answer">
                            <img src="" alt="">
                            <p class="answer-text">
                                Спасибо, что поделились! Отличный результат.
                                Можно мы разместим ваш отзыв
                                у себя на сайте?
                            </p>
                        </div>
                        <div class="client-text client-answer">
                            Надеюсь муж из дома
                            <span class="text-nowrap">не выгонит, аахах.</span> <img src="img/finger-up.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>