<div class="reviews block">
    <div class="container">
        <h2 class="title">
            Эти девушки уже убедились
            <span class="text-nowrap">в эффективности</span> <span class="red">DUO C&F</span>
        </h2>
        <div class="reviews__wrap">
            <div class="reviews-slider">
                <div class="reviews__item">
                    <img src="img/first-slide.jpg" alt="">
                </div>
                <div class="reviews__item ">
                    <img src="img/second-slide.jpg" alt="">
                </div>
                <div class="reviews__item ">
                    <img src="img/third-slide.jpg" alt="">
                </div>
                <div class="reviews__item ">
                    <img src="img/forth-slide.jpg" alt="">
                </div>
                <div class="reviews__item">
                    <img src="img/fifth-slide.jpg" alt="">
                </div>
                <div class="reviews__item">
                    <img src="img/sixth-slide.jpg" alt="">
                </div>
                <div class="reviews__item">
                    <img src="img/seveth-slide.jpg" alt="">
                </div>
                <div class="reviews__item">
                    <img src="img/eight-slide.jpg" alt="">
                </div>
                <div class="reviews__item">
                    <img src="img/nineth-slide.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>