.footer {
	font-size: 16px;
	line-height: 1;
	color: #666;
	padding: 71px 0;
}

.footer__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer__logo {
	max-width: 54px;
}


.footer__center {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__privacy {
	color: #666666;
	text-align: center;
	font-size: 16px;
	display: block;
	margin-top: 13px;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.footer__requisites {
	text-transform: uppercase;
	text-align: right;
	margin-bottom: 5px;
	&:last-child {
		margin-bottom: 0;
	}
}

@include r(1023) {
	.footer {
		padding: 25px 0;
	}
}

@include r(767) {
	.footer__wrap {
		flex-direction: column;
		justify-content: center;
	}
	
	.footer__logo {
		margin-right: 0;
		margin-bottom: 5px;
	}

	.footer__right {
		display: none;
	}

	.footer__info {
		display: none;
	}

	.footer__addres {
		display: none;
	}
}

