<section class="expert block">
	<div class="container">
		<div class="expert-content">
			<h2 class="expert-title title">Не ждите Нового года
				или понедельника, 
				чтобы начать худеть</h2>
				<div class="expert-text">
					<p>Похудение — сложный процесс, который у некоторых
						<span class="text-nowrap">не прекращается</span> на протяжении всей жизни. </p>
					<p>Срываться и начинать худеть с Нового года или понедельника — это уже классика жанра. Но благодаря DUO C&F теперь<br>
							<span class="text-nowrap">не нужно</span> постоянно откладывать похудение и мучительно<br>
							долго ждать, когда же исчезнут лишние килограммы. </p>
					<p>В данном случае, <b>капсулы DUO C&F — это прекрасное дополнение к правильному питанию и активным прогулкам для общего здоровья организма.</b></p>
				</div>
				<div class="expert-prof">
					<div class="expert-speci">Диетолог,</div>
					<div class="expert-name">Новикова М. А.</div>
				</div>
				<div class="expert-box">
					<div class="expert-box-item expert-icon__1">
						Товар<br>
		сертифицирован</div>
					<div class="expert-box-item expert-icon__2">
						Одобрен ГУ НИИ
		питания РАМН</div>
					<div class="expert-box-item expert-icon__3">
						Уникальный<br> состав</div>
				</div>
		</div>
	
	</div>
</section>