<div class="effect block">
    <div class="container">
        <h2 class="title">Эффект после 4 недель
            <span class="text-nowrap">применения DUO <span class="red">C&amp;F</span></span>
            <div class="effect__wrap">
                <div class="effect__item">
                    <div class="effect__item-time">
                        <span class="effect-number">1</span>
                        неделя
                    </div>
                    <div class="effect__item-img">
                        <img src="img/effect-img1.png" alt="">
                    </div>
                    <div class="effect__item-list">
                        <p class="effect-text">Организм перестраивается
                            на активное жиросжигание </p>
                    </div>
                </div>
            </div>
        </h2>
    </div>
</div>