<div class="effect block">
    <div class="container">
        <h2 class="title">Эффект после 4 недель
            <span class="text-nowrap">применения DUO <span class="red">C&amp;F</span></span>
        </h2>
        <div class="effect__wrap">
            <div class="effect__item">
                <div class="effect__item-time">
                    <span class="effect-number">1</span>
                    неделя
                </div>
                <div class="effect__item-img">
                    <img src="img/effect-img1.png" alt="">
                </div>
                <div class="effect__item-list">
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Организм перестраивается
                                <span class="text-nowrap">на активное</span> жиросжигание</span>
                    </div>
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Пропадают неконтролируемые вспышки голода</span>
                    </div>
                </div>
            </div>
            <div class="effect__item">
                <div class="effect__item-time">
                    <span class="effect-number">2</span>
                    неделя
                </div>
                <div class="effect__item-img">
                    <img src="img/effect-img2.png" alt="">
                </div>
                <div class="effect__item-list">
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Прорисовывается линия скул, лицо выглядит худее и моложе</span>
                    </div>
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Запускается жиросжигание <span class="text-nowrap">в области</span> живота и рук </span>
                    </div>
                </div>
            </div>
            <div class="effect__item">
                <div class="effect__item-time">
                    <span class="effect-number">3</span>
                    неделя
                </div>
                <div class="effect__item-img">
                    <img src="img/effect-img3.png" alt="">
                </div>
                <div class="effect__item-list">
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Сон становится лучше, <span class="text-nowrap">а заряда энергии</span> — больше</span>
                    </div>
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Начинают худеть бока, <span class="text-nowrap">ягодицы и ноги</span></span>
                    </div>
                </div>
            </div>
            <div class="effect__item">
                <div class="effect__item-time">
                    <span class="effect-number">4</span>
                    неделя
                </div>
                <div class="effect__item-img">
                    <img src="img/effect-img4.png" alt="">
                </div>
                <div class="effect__item-list">
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Одежда становится свободнее, <span class="text-nowrap">а общий</span> вес – заметно меньше</span>
                    </div>
                    <div class="effect-text">
                        <div class="action__list-item-circle effect-check"></div>
                        <span>Улучшаются пищевые привычки <span class="text-nowrap">и общий</span> внешний вид </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>