.action {
    margin-bottom: 138px;
    padding: 100px 0 0;

    @include r(1189) {
        margin-bottom: 60px;
        padding: 60px 0 0;
    }

    @include r(1023) {
        margin-bottom: 40px;
        padding: 40px 0 0;
    }

    @include r(767) {
        margin-bottom: 30px;
        padding: 30px 0 0;
    }

    @include r(479) {
        margin-bottom: 25px;
        padding: 25px 0 0;
    }

    .container {
        position: relative;
    }
}

.action__wrap {
    width: 100%;
    max-width: 565px;

    @include r(1023) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 100%;
    }

    @include r(767) {
        justify-content: center;
    }
}

.title_action {
    position: relative;
    width: 100%;
    max-width: 570px;
    margin-bottom: 52px;
    padding-bottom: 35px;
    text-align: left;
    font-size: 43px;
    line-height: 50px;

    @include r(1023) {
        order: 1;
        max-width: 100%;
        margin-bottom: 30px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 36px;
        line-height: 44px;
    }

    @include r(767) {
        margin-bottom: 20px;
        padding-bottom: 15px;
        font-size: 32px;
        line-height: 42px;
    }

    @include r(639) {
        font-size: 29px;
        line-height: 36px;
    }

    @include r(479) {
        font-size: 26px;
        line-height: 32px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #e2523f;
    }
}

.action__capsule {
    position: absolute;
    top: 9px;
    right: 199px;

    @include r(1189) {
        right: 130px;
    }

    @include r(1023) {
        position: relative;
        top: auto;
        right: auto;
        order: 3;
    }
}

.action__info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 120px;
        height: 58px;
        background: url('../img/action-arrow.png') 0 0 no-repeat;

        @include r(1189) {
            display: none;
        }
    }
}

.action__info_active {

    .action__info-desc {
        opacity: 1;
        visibility: visible;
    }
}

.action__info_1 {
    top: 151px;
    left: -168px;

    @include r(1189) {
        top: 220px;
        left: 82px;
    }

    @include r(1023) {
        top: 150px;
        left: 52px;
    }

    &::before {
        top: 63%;
        right: -125px;
        transform: rotateY(180deg);
    }

    .action__info-desc {
        @include r(1189) {
            left: -125px;
        }

        @include r(767) {
            left: 50%;
        }

        &::before {
            @include r(1189) {
                left: 92%;
            }

            @include r(767) {
                left: 50%;
            }
        }
    }
}

.action__info_2 {
    top: 21px;
    right: -200px;

    @include r(1200) {
        right: -185px;
    }

    @include r(1189) {
        top: 110px;
        right: 78px;
    }

    @include r(1023) {
        top: 70px;
        right: 48px;
    }

    &::before {
        top: 60%;
        left: -141px;
    }

    .action__info-desc {
        @include r(1480) {
            left: -125px;
        }

        @include r(767) {
            left: 50%;
        }

        &::before {
            @include r(1480) {
                left: 92%;
            }

            @include r(767) {
                left: 50%;
            }
        }
    }
}

.action__info_3 {
    bottom: 177px;
    right: -198px;

    @include r(1200) {
        right: -183px;
    }

    @include r(1189) {
        bottom: 250px;
        right: 78px;
    }

    @include r(1023) {
        bottom: 160px;
        right: 49px;
    }

    &::before {
        top: -71%;
        left: -135px;
        transform: rotateX(180deg);
    }

    .action__info-desc {
        @include r(1480) {
            left: -125px;
        }

        @include r(767) {
            left: 50%;
        }

        &::before {
            @include r(1480) {
                left: 92%;
            }

            @include r(768) {
                left: 50%;
            }
        }
    }
}

.action__capsule-pic {
    width: 202px;

    @include r(1023) {
        width: 140px;
    }
}

.action__capsule-img {
    display: block;
    max-width: 100%;
}

.action__info-letter {
    font-size: 20px;
    color: #000;
}

.action__info-desc {
    position: absolute;
    top: 68px;
    left: 50%;
    z-index: 1;
    width: 320px;
    padding: 15px 20px 10px 25px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: #444;
    background-color: #faf7ef;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: .4s;

    @include r(639) {
        width: 280px;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        top: -11px;
        left: 50%;
        z-index: 2;
        display: block;
        border: 12px solid transparent;
        border-top: none;
        border-bottom: 12px solid #faf7ef;
        transform: translateX(-50%);
    }
}

.action__info-desc-accent {
    color: #000;
    font-weight: 500;
}

.action__list {
    width: 100%;
    max-width: 570px;
    padding: 20px 20px 30px 25px;
    border-radius: 7px;
    box-shadow: 1px 4px 20px 0px rgba(1, 2, 2, 0.07);
    transition: .3s;

    @include r(1023) {
        max-width: 530px;
        order: 2;
    }

    @include r(767) {
        margin-bottom: 20px;
    }

    @include r(639) {
        padding: 15px;
    }

    &:hover {
        box-shadow: 1px 1px 8px 0px rgba(1, 2, 2, 0.07);
    }
}

.action__list-title {
    margin-bottom: 27px;
    font-size: 25px;
    line-height: 28px;
    font-weight: 900;
    color: #000;

    @include r(639) {
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 24px;
    }
}

// .action__list-title_accent {
//     font-weight: 700;
// }

.action__list-item {
    display: flex;
    align-items: center;
    font-size: 19px;
    line-height: 28px;
    color: #000;

    @include r(639) {
        font-size: 17px;
        line-height: 22px;
    }

    &:not(:last-child) {
        margin-bottom: 20px;

        @include r(639) {
            margin-bottom: 15px;
        }
    }
}

.action__list-item-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    margin-right: 21px;
    background-color: #80bc34;
    border-radius: 50%;
    box-shadow: 2px 2px 0 0 #7fa153;

    @include r(639) {
        width: 35px;
        height: 35px;
        box-shadow: 1px 1px 0 0 #7fa153;
    }

    &::before {
        content: '';
        display: block;
        width: 25px;
        height: 14px;
        margin-top: -8px;
        border: 3px solid #fff;
        border-top-color: transparent;
        border-right-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 3px;
        transform: rotate(-45deg);

        @include r(639) {
            width: 21px;
            height: 10px;
        }
    }
}

.action__list-item-desc {
    color: #444;
}

.action__list-item_accent {
    font-weight: 700;
    color: #000;
}

.action-goods {
    width: 100%;
    padding: 30px 0 36px;
    background: url(../img/action-goods__bg.jpg) repeat-x center;
    background-size: cover;


    @include r(767) {
        padding: 20px 0;
    }
}

.action-goods__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include r(1023) {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.action-goods__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 0 10px;

    // &:nth-child(3) {
    //     @include r(430) {
    //         width: 100%;
    //     }
    // }

    &:nth-child(n+2) {
        @include r(405) {
            margin-top: 20px;
        }
    }

    &:nth-child(n+3) {
        @include r(639) {
            margin-top: 20px;
        }
    }

    &:nth-child(n+4) {
        @include r(1023) {
            margin-top: 20px;
        }
    }

    @include r(1023) {
        width: 30%;
    }

    @include r(639) {
        width: 40%;
    }

    @include r(405) {
        width: 60%;
    }
}

.action-goods__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 11px;
    background-color: #fff;
    border-radius: 50%;

    @include r(1023) {
        width: 90px;
        height: 90px;
        margin-bottom: 8px;
    }
}

.action-goods__pic {

    @include r(1023) {
        width: 55px;
    }
}

.action-goods__img {
    display: block;
    max-width: 100%;
}

.action-goods__desc {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    color: #fff;

    @include r(1023) {
        font-size: 18px;
        line-height: 24px;
    }

    @include r(430) {
        font-size: 16px;
        line-height: 20px;
    }

    @include r(360) {
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .title_action {
        font-size: 42px;
    }
}

@-moz-document url-prefix() {
    .action-goods__item_stomach {

        .action-goods__desc {
            line-height: 20px;
        }
    }
}