<section class="action" id="ingridients">
    <div class="container">
        <div class="action__wrap">
            <h2 class="title title_action">
                DUO <span class="title-accent">C&F</span> <span class="title-small">— комплекс
                    для&nbsp;снижения веса и&nbsp;здорового внешнего вида</span>
            </h2>
            <div class="action__capsule">
                <div class="action__info action__info_1">
                    <span class="action__info-letter">i</span>
                    <div class="action__info-desc">
                        <span class="action__info-desc-accent">Пиперин</span> - активизирует свойства куркумина, помогая
                        ему лучше усваиваться в организме
                    </div>


                </div>
                <div class="action__info action__info_2">
                    <span class="action__info-letter">i</span>

                    <div class="action__info-desc">
                        <span class="action__info-desc-accent">Форсколин</span> - ускоряет потерю веса благодаря
                        регулированию липазы в скелетных мышцах организма
                    </div>

                </div>
                <div class="action__info action__info_3">
                    <span class="action__info-letter">i</span>
                    <div class="action__info-desc">
                        <span class="action__info-desc-accent">Куркумин</span> - препятствует повторному набору веса за
                        счет нормализации метаболизма и работы жировых клеток
                    </div>
                </div>
                <div class="action__capsule-pic">
                    <img src="img/action-capsule.png" alt="" class="action__capsule-img">
                </div>
            </div>
            <div class="action__list">
                <h3 class="action__list-title">Капсулы DUO <span
                        class="title-accent action__list-title_accent">C&F</span>:
                </h3>
                <ul class="action__list-items">
                    <li class="action__list-item">
                        <div class="action__list-item-circle"></div>
                        <p class="action__list-item-desc"><span class="action__list-item_accent">Сжигают и
                                блокируют</span>
                            жир быстрее обычного</p>
                    </li>
                    <li class="action__list-item">
                        <div class="action__list-item-circle"></div>
                        <p class="action__list-item-desc"><span class="action__list-item_accent">Ускоряют</span>
                            метаболизм
                        </p>
                    </li>
                    <li class="action__list-item">
                        <div class="action__list-item-circle"></div>
                        <p class="action__list-item-desc"><span class="action__list-item_accent">Стимулируют</span>
                            очищение
                            организма</p>
                    </li>
                    <li class="action__list-item">
                        <div class="action__list-item-circle"></div>
                        <p class="action__list-item-desc"><span class="action__list-item_accent">Нормализуют</span>
                            холестерин</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="action-goods">
    <div class="container">
        <ul class="action-goods__list">
            <li class="action-goods__item">
                <div class="action-goods__circle">
                    <div class="action-goods__pic">
                        <img src="img/action-good-1.png" alt="" class="action-goods__img">
                    </div>
                </div>
                <div class="action-goods__desc">
                    Без мочегонного
                    эффекта
                </div>
            </li>
            <li class="action-goods__item action-goods__item_stomach">
                <div class="action-goods__circle">
                    <div class="action-goods__pic">
                        <img src="img/action-good-2.png" alt="" class="action-goods__img">
                    </div>
                </div>
                <div class="action-goods__desc">
                    Без <br>
                    диареи
                </div>
            </li>
            <li class="action-goods__item">
                <div class="action-goods__circle">
                    <div class="action-goods__pic">
                        <img src="img/action-good-3.png" alt="" class="action-goods__img">
                    </div>
                </div>
                <div class="action-goods__desc">
                    Без головной
                    боли и&nbsp;слабости
                </div>
            </li>
            <li class="action-goods__item action-goods__item_bigger">
                <div class="action-goods__circle">
                    <div class="action-goods__pic">
                        <img src="img/action-good-4.png" alt="" class="action-goods__img">
                    </div>
                </div>
                <div class="action-goods__desc">
                    Без недосыпа
                    и&nbsp;раздражительности
                </div>
            </li>
            <li class="action-goods__item">
                <div class="action-goods__circle">
                    <div class="action-goods__pic">
                        <img src="img/action-good-5.png" alt="" class="action-goods__img">
                    </div>
                </div>
                <div class="action-goods__desc">
                    Без зависимости
                    от&nbsp;препарата
                </div>
            </li>
        </ul>
    </div>
</section>