<div class="orderLine" >
	<div class="container">
		<div class="orderLine-content">
			<div class="orderLine-pack"><img src="img/pack-small.png" alt="DUO C&F"></div>
			<div class="forma__price">
					<div class="forma__price-old">
							<span class="forma__price-old__name">Старая цена</span>
							<div class="forma__price-old__price">
									<span class="x_price_previous">1980</span>
									<span class="x_currency">руб.</span>
							</div>
					</div>
					<div class="forma__price-new">
							<span class="forma__price-new__name">Новая цена</span>
							<div class="forma__price-new__price">
									<span class="x_price_previous">990</span>
									<span class="x_currency">руб.</span>
							</div>
					</div>
			</div>
		<div class="header__timer">
				<p class="header__timer-text">До конца акции
						осталось</p>
				<div class="header__timer-block">
						<div class="time">
								<div class="time-clock">
										<span class="inn hours"></span>
										<span class="inn hours"></span>
								</div>
								<p class="under-text">час.</p>
						</div>
						<div class="time">
								<div class="time-clock">
										<span class="inn minutes"></span>
										<span class="inn minutes"></span>
								</div>
								<p class="under-text">мин.</p>
						</div>
						<div class="time">
								<div class="time-clock">
										<span class="inn seconds"></span>
										<span class="inn seconds"></span>
								</div>
								<p class="under-text">сек.</p>
						</div>
				</div>
		</div>

		<div class="order__btn header__btn ever-popup-btn" >Заказать</div>
	</div>
	</div>
</div>