.orderLine
	width: 100%
	background: #e24b3e
	height: 90px
	position: fixed
	top: -90px
	left: 50%
	transform: translateX(-50%)
	z-index: 30
	transition: 0.2s
	opacity: 0
	+r(767)
		display: none !important
	.container
		height: 100%
	&-content
		display: flex
		align-items: center
		justify-content: space-between
		height: 100%
		+r(1023)
			justify-content: center
	&-pack
		width: 40px
		+r(1023)
			display: none
	.forma__price
		padding-right: 65px
		position: relative
		+r(1023)
			margin-right: 15px
		&:before
			content: ''
			position: absolute
			top: 0
			right: 0
			width: 58px
			height: 58px
			background: url(../img/discount.png) no-repeat center
	.forma__price-old__name
		color: #ffffff
		font-size: 13px
	.header__timer
		+r(1023)
			display: none
	.forma__price-old__price
		color: #ffffff
		opacity: 0.75
		margin-top: 4px
	.forma__price-old__price:after, .forma__price-old__price:before
		background-color: #fff
		opacity: 0.75
	.forma__price-new__name
		color: #ffffff
		font-size: 14px
	.forma__price-new__price
		color: #ffffff
		font-size: 39px
		margin-top: 5px
	.forma__price-old
		margin-right: 14px

.show-line
	top: 0
	opacity: 1