<section class="use block">
	<div class="container">
		<h2 class="title">Как принимать DUO <span class="red">C&F</span></h2>
		<div class="use-content">
			<div class="use-box">
				<div class="use-box__icon"><img src="img/use-capsule.svg" alt=""></div>
				<div class="use-box__text">Принимайте по 1 капсуле<br>
					<span>2 раза в день</span>
						</div>
			</div>
			<div class="use-box">
					<div class="use-box__icon"><img src="img/use-fork.svg" alt=""></div>
					<div class="use-box__text">Употребляйте средство<br>
						<span>	во время еды </span>
							</div>
				</div>
				<div class="use-box">
						<div class="use-box__icon"><img src="img/use-date.png" alt=""></div>
						<div class="use-box__text">Соблюдайте курс<br>
								<span>применения от 30 дней</span>	</div>
					</div>
		</div>
	</div>
</section>