<div class="main block">
    <div class="container">
        <div class="main__wrap">
            <div class="main__pack">
                <img class="pack" src="img/pack.png" alt="">
                <img class="ingridient" src="img/ingridients.png" alt="">
                <img class="leaf" src="img/leaf.png" alt="">
            </div>
            <div class="main__text">
                <h1 class="main__text-head title text-black">
                    <span class="text-red">Контрудар</span>
                    <span class="text-nowrap">по лишнему</span>
                    весу</h1>
                <p class="main__text-descr">
                    <span class="black">DUO C&F</span> — двойное действие в одной капсуле:
                    расщепление жиров и улучшение
                    метаболических реакций
                </p>
            </div>
        </div>
    </div>
</div>
<div class="forma ordeh3">
    <div class="forma-inn">
        <div class="container">
            <div class="forma__wrap">
                <div class="forma__price">
                    <div class="forma__price-old">
                        <span class="forma__price-old__name">Старая цена</span>
                        <div class="forma__price-old__price">
                            <span class="x_price_previous">1980</span>
                            <span class="x_currency">руб.</span>
                        </div>
                    </div>
                    <div class="forma__price-new">
                        <span class="forma__price-new__name">Новая цена</span>
                        <div class="forma__price-new__price">
                            <span class="x_price_previous">990</span>
                            <span class="x_currency">руб.</span>
                        </div>
                    </div>
                </div>
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__input name">
                        <input type="text" name="name" class="form__input-field" placeholder="Имя">
                    </div>
                    <div class="form__input phone">
                        <input type="text" name="phone" class="form__input-field" placeholder="+7(___)___-__-__">
                    </div>
                    <button class="order__btn header__btn" type="submit">Заказать</button>
                </form>
            </div>
        </div>
    </div>
</div>