<section class="increase block">
	<div class="container">
		<div class="increase-top ordeh2" >
				<div class="increase-top__title">Капсулы DUO <span class="red">C&F</span></div>
				<ul class="increase-list">
						<div class="increase-list__item">Не вызывают<br> 
								дискомфорта в желудке</div>
						<div class="increase-list__item">Не содержат вредных<br>
								химических веществ</div>
						<div class="increase-list__item">Не провоцируют<br>
								побочные эффекты </div>
				</ul>
				<div class="increase-pack"><img src="img/pack-small.png" alt="DUO C&F"></div>
				<div class="increase-form">
						<div class="forma__wrap">
                <div class="forma__price">
                    <div class="forma__price-old">
                        <span class="forma__price-old__name">Старая цена</span>
                        <div class="forma__price-old__price">
                            <span class="x_price_previous">1980</span>
                            <span class="x_currency">руб.</span>
                        </div>
                    </div>
                    <div class="forma__price-new">
                        <span class="forma__price-new__name">Новая цена</span>
                        <div class="forma__price-new__price">
                            <span class="x_price_previous">990</span>
                            <span class="x_currency">руб.</span>
                        </div>
                    </div>
                </div>
                <form action="/submit" method="post" class="form x_order_form">
                    <div class="form__input name">
                        <input type="text" name="name" class="form__input-field" placeholder="Имя">
                    </div>
                    <div class="form__input phone">
                        <input type="text" name="phone" class="form__input-field" placeholder="+7(___)___-__-__">
                    </div>
                    <button class="order__btn" type="submit">Заказать</button>
                </form>
            </div>
				</div>
		</div>
	</div>
	<div class="container">
		<h2 class="increase-title title">Хотите похудеть быстро и основательно?  </h2>
		<div class="increase-subtitle">Увеличьте эффективность капсул <b>DUO <span class="red">C&F</span>!</b> </div>
		<div class="increase-bottom">
			<div class="increase-box">
				<div class="increase-box__img"><img src="img/increase-1.png" alt="DUO C&F"><div class="increase-box__circle increase-blue">-400
						<span>ккал</span></div></div>
					<div class="increase-box__title increase-blue">DUO C&F + Вода</div>
					<div class="increase-box__text">
						<p>Вода помогает выводить токсины 
								из организма <span class="text-nowrap">и способствует</span> усиленной трате калорий. <br>
								Всего <span class="text-nowrap">1 литр</span> — это целых -100 ккал 
								для организма!</p>
							
						<p>	А выпивая по 2 литра в комплексе 
								<span class="text-nowrap">с DUO C&F</span>, можно <b>сжигать 
										до 400 ккал в день.</b></p>  
							
							<p>Питьевая вода также эффективно <b>снижает чувство голода</b>, если пить ее небольшими глотками. </p>
							</div>
			</div>
			<div class="increase-box">
					<div class="increase-box__img">
						<img src="img/increase-2.png" alt="DUO C&F">
						<div class="increase-box__circle increase-green">-700 <span>ккал</span></div>
					</div>
						<div class="increase-box__title increase-green">DUO C&F + Здоровая еда</div>
						<div class="increase-box__text">
							<p>Наше средство в сочетании 
									<span class="text-nowrap">с полезным</span> питанием поможет скинуть <b>5 и больше кг за месяц</b>. Более того — с ним вы теряете 
									<span class="text-nowrap">до 700</span> ккал в день. </p>
								
							<p>	Для этого придется <b>отказаться <span class="text-nowrap">от жирной</span> пищи <span class="text-nowrap">и ограничить</span> потребление углеводов.</b></b></p>  
								
								<p><b>Ешьте больше</b> фруктов, овощей <span class="text-nowrap">и добавьте</span> белок — мясо, рыбу, морепродукты и похудение 
										<span class="text-nowrap">не заставит</span> себя ждать. </p>
								</div>
				</div>
				<div class="increase-box">
						<div class="increase-box__img"><img src="img/increase-3.png" alt="DUO C&F"><div class="increase-box__circle increase-red">-1000
								<span>ккал</span></div></div>
							<div class="increase-box__title increase-red">DUO C&F + Активные прогулки</div>
							<div class="increase-box__text">
								<p>Активные прогулки по улицам 
										или паркам помогают более усиленно сжигать калории.</p>
									
								<p>	Такие небольшие нагрузки нужны для того, чтобы <b>повысить общую выносливость организма 
										<span class="text-nowrap">и улучшить</span> самочувствие.</b>
										</b></p>  
									
									<p>С прогулками результат станет заметнее. За 1,5 часа неспешных пеших гуляний тратится 
											до 800 калорий, а <b>вместе 
													с DUO C&F — <span class="text-nowrap">от 1000</span> ккал и больше.</b></p>
									</div>
					</div>
		</div>
	</div>
</section>