<section class="delivery block" id="delivery">
    <div class="container">
        <div class="title title_delivery">Как заказать доставку DUO&nbsp;<span class="text-red">C&F</span></div>
        <ul class="delivery__list">
            <li class="delivery__item delivery__item_form">
                <div class="delivery__circle ever-popup-btn">
                    <div class="delivery__pic">
                        <img src="img/delivery-1.png" alt="" class="delivery__img">
                    </div>
                </div>
                <h4 class="delivery__item-title">Заполните <br> форму заказа</h4>
                <p class="delivery__desc">
                    Укажите имя и номер <br>
                    телефона
                </p>
            </li>
            <li class="delivery__item">
                <div class="delivery__circle">
                    <div class="delivery__pic">
                        <img src="img/delivery-2.png" alt="" class="delivery__img">
                    </div>
                </div>
                <h4 class="delivery__item-title">Примите <br> звонок оператора</h4>
                <p class="delivery__desc">
                    Специалист проконсультирует <br>
                    и уточнит адресные данные
                </p>
            </li>
            <li class="delivery__item">
                <div class="delivery__circle">
                    <div class="delivery__pic">
                        <img src="img/delivery-3.png" alt="" class="delivery__img">
                    </div>
                </div>
                <h4 class="delivery__item-title">Оплатите <br> <span class="text-red">после получения</span></h4>
                <p class="delivery__desc">
                    Предоплата <br>
                    не требуется
                </p>
            </li>
        </ul>
        <section class="delivery__footnote">
            <ul class="delivery__options">
                <li class="delivery__options-item">
                    <div class="delivery__options-pic">
                        <img src="img/delivery-courier.png" alt="" class="delivery__options-img">
                    </div>
                    <p class="delivery__options-desc">Доставка курьером</p>
                </li>
                <li class="delivery__options-item-divider">

                </li>
                <li class="delivery__options-item">
                    <div class="delivery__options-pic">
                        <img src="img/delivery-post.png" alt="" class="delivery__options-img">
                    </div>
                    <p class="delivery__options-desc">Почта России</p>
                </li>
            </ul>
            <div class="delivery__payment">
                <h4 class="delivery__payment-title">Оплата:</h4>
                <ul class="delivery__payment-list">
                    <li class="delivery__payment-item">
                        <div class="delivery__payment-pic">
                            <img src="img/payment-master.png" alt="mastercard" class="delivery__payment-img">
                        </div>
                        <p class="delivery__payment-desc">Mastercard</p>
                    </li>
                    <li class="delivery__payment-item">
                        <div class="delivery__payment-pic">
                            <img src="img/payment-visa.png" alt="visa" class="delivery__payment-img">
                        </div>
                        <p class="delivery__payment-desc">Visa</p>
                    </li>
                    <li class="delivery__payment-item">
                        <div class="delivery__payment-pic">
                            <img src="img/payment-qiwi.png" alt="qiwi" class="delivery__payment-img">
                        </div>
                        <p class="delivery__payment-desc">Qiwi <br> Кошелек</p>
                    </li>
                    <li class="delivery__payment-item">
                        <div class="delivery__payment-pic">
                            <img src="img/payment-cash.png" alt="cash" class="delivery__payment-img">
                        </div>
                        <p class="delivery__payment-desc">Наличными</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</section>