<div class="ever-popup-build">
	<div class="pop-up" id="cloneThis">
			<div class="pop-up__box">
					<div class="popup-title">
							<h3></h3>
					</div>
					<div class="pop-up__content">
							<div class="pop-up__left">
								<div class="image-pack">
	                <img class="pop-up-pack" src="img/pack.png" alt="">
	                <img class="pop-up-ingridient" src="img/ingridients.png" alt="">
	                <img class="pop-up-leaf" src="img/leaf.png" alt="">
	            </div>
							</div>
							<div class="pop-up__right">
									<div class="header__timer">
											<p class="header__timer-text">До конца акции
													осталось</p>
											<div class="header__timer-block">
													<div class="time">
															<div class="time-clock">
																	<span class="inn hours"></span>
																	<span class="inn hours"></span>
															</div>
															<p class="under-text">час.</p>
													</div>
													<div class="time">
															<div class="time-clock">
																	<span class="inn minutes"></span>
																	<span class="inn minutes"></span>
															</div>
															<p class="under-text">мин.</p>
													</div>
													<div class="time">
															<div class="time-clock">
																	<span class="inn seconds"></span>
																	<span class="inn seconds"></span>
															</div>
															<p class="under-text">сек.</p>
													</div>
											</div>
									</div>
									<div class="form-box">
											<div class="forma__wrap">
													<div class="forma__price">
															<div class="forma__price-old">
																	<span class="forma__price-old__name">Старая цена</span>
																	<div class="forma__price-old__price">
																			<span class="x_price_previous">1980</span>
																			<span class="x_currency">руб.</span>
																	</div>
															</div>
															<div class="forma__price-new">
																	<span class="forma__price-new__name">Новая цена</span>
																	<div class="forma__price-new__price">
																			<span class="x_price_current">990</span>
																			<span class="x_currency">руб.</span> <span class="star">*</span>
																	</div>
															</div>
													</div>
													<form action="/submit" method="post" class="form x_order_form">
															<div class="form__input name">
																	<input type="text" name="name" class="form__input-field" placeholder="Имя">
															</div>
															<div class="form__input phone">
																	<input type="text" name="phone" class="form__input-field" placeholder="+7(___)___-__-__">
															</div>
															<button class="order__btn header__btn" type="submit">Заказать</button>
													</form>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</div>